@model ML.Cliente
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            @Html.ActionLink("Agregar cliente", "Add", "Login")
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Telefono</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Cliente cliente in Model.Clientes)
                    {
                        <tr>
                            <td>@cliente.Nombre</td>
                            <td>@cliente.Email</td>
                            <td>@cliente.Telefono</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>